<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
<dl>
    <dt>Calling an invalid argument</dt>
    <dd>{{ meta('foo:bar') }}</dd>
</dl>
</body>
</html>
